#backgroundPanel {
    background: #000000;
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

#galleryContainer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute; top: 0; bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 9001;
}

#gallery {
    width: 100px;
    height: 500px;
    padding: 50px 0 50px 0;
    position: absolute;
    z-index: 9002;
}

#gallery img {
    float: left;
    height: 500px;
    margin: 0 100px;
    z-index: 9003;
}

#leftButton, #rightButton {
    position: absolute; top: 50px; bottom: 0;
    z-index: 9004;
    padding: 0;
    margin: auto 0;
    width: 15%;
    height: 600px;
    border: none;
    outline: none;
    color: #ffffff;
    background: none;
    font-size: 100px;
    font-family: "Courier New", courier, fixed;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#leftButton {
    left: 0;
}

#rightButton {
    right: 0;
}

#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
    border: none;
}

#leftButton:hover, #rightButton:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    outline: none;
}

#caption {
    position: absolute; bottom: 0;
    padding-top: 35px;
    z-index: 9005;
    background: #000000;
    height: 100px;
    width: 100%;
    color: #ffffcc;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 24px;
    letter-spacing: .1em;
    display: none;
}

#loading {
    position: absolute; bottom: 50%;
    z-index: 9006;
    width: 100%;
    color: #ffc;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 36px;
    letter-spacing: .1em;
    opacity: 0;
    filter: alpha(opacity=0);
}